<footer>
    <div class="footer-wrap">
        <h2>RYEDRINKS</h2>
        <div class="footer-icon-wrap">   
            <a class="insta-footer footer-icon" href="https://www.instagram.com/ryedrinks/"><img src="assets/img/instagram-white.png"></a>
            <span class="footer-line"></span>
            <a class="twit-footer" href="https://twitter.com/Ryan_Mackie"><img src="assets/img/twitter-white.png"></a>
        </div>
    </div>
    <div class="copyright">
        <p>&copy;Copyright <a class="footer-link" href="https://aidan-ross.netlify.com/">Aidan Ross</a> 2020</p>
    </div>
</footer>