<div id="navbar" class="nav-wrap">
    <div class="logo-box-white">
        <a href="index.html"><img src="assets/img/R.png" alt="Ryedrinks Logo" class="logo"></a>
    </div>

    <nav id="main-nav" class="main-nav">
        <a class="link-white" href="cocktails.html">Cocktails</a>
        <a class="link-white" href="blog.html">Blog</a>
        <span id="nav-line-white"></span>
        <a class="insta-navy-2" href="https://www.instagram.com/ryedrinks/"><img src="assets/img/instagram.png"></a>
        <a class="twit-navy-2" href="https://twitter.com/Ryan_Mackie"><img src="assets/img/twitter.png"></a>
    </nav>
</div>