<div id="navbar" class="nav-wrap">
    <div class="logo-box">
        <a href="index.html"><img src="assets/img/R.png" alt="Ryedrinks Logo" class="logo logo-navy"><img src="assets/img/R-white.png" alt="Ryedrinks Logo" class="logo logo-white"></a>
    </div>

    <nav id="main-nav" class="main-nav">
        <a class="link" href="cocktails.html">Cocktails</a>
        <a class="link" href="blog.html">Blog</a>
        <span id="nav-line"></span>
        <a class="insta-navy" href="https://www.instagram.com/ryedrinks/"><img src="assets/img/instagram.png"></a>
        <a class="insta-white" href="https://www.instagram.com/ryedrinks/"><img src="assets/img/instagram-white.png"></a>
        <a class="twit-navy" href="https://twitter.com/Ryan_Mackie"><img src="assets/img/twitter.png"></a>
        <a class="twit-white" href="https://twitter.com/Ryan_Mackie"><img src="assets/img/twitter-white.png"></a>
    </nav>
</div>