--- 

---

@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body{
    background: #F8F8F8;
    font-family: 'Merriweather';
    overflow-x: hidden;
}

p{
    margin: 0 0 2rem 0;
    line-height: 1.8;
}

.link, .link-white{
    text-decoration: none;
    color: #121641;
}

.hero{
    display: block;
    height: calc(100vh - 62px);
    grid-template-columns: 1.2fr 1.2fr 1.5fr;
    grid-template-rows: 0.75fr 6fr 3fr 0.75fr;
}

.hero-wrap{
    padding: 0 0 0 4rem;
    font-family: 'Antic Didone';
    color: #121641;
}

.hero-wrap h1{
    font-size: 3em;
    margin-bottom: 0.5rem;
}

.hero-wrap h2{
    color: #646464;
    margin-bottom: 1.5rem;
}

.hero-wrap p{
    font-family: 'Merriweather';
    max-width: 500px;
    font-size: 1em;
    margin-bottom: 2rem;
}

.hero-text{
    grid-area: 2 / 1 / 3 / 2;
    background: #F8F8F8;
    display: flex;
    align-items: center;
}

.hero-img{
    grid-area: 2 / 3 / 5 / 4;
    background-image: url(../img/hero-photo.jpg);
    background-position: center;
    background-size: cover;
}

.logo{   
    padding: 1rem 4rem;
}

.logo-box, .logo-box-white{
    grid-area: 1 / 1 / 2 / 4;
    background: #F8F8F8;
}

.logo-white{
    display: none;
}

.blog-block{
    grid-area: 3 / 1 / 4 / 2;
    background: #1A284A;
}

.cocktails-block{
    grid-area: 3 / 2 / 4 / 3;
    background-color: #A8A08A;
}

.cocktails-block:hover{
    background-color: #979387;
    transition: all 0.2s ease-in-out;
}

.cocktails-block:hover  .cocktails-block::before{
    width: 10px;
}

.block-link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Antic Didone';
    font-size: 1.3rem;
}

.cocktails-block::before, 
.cocktails-block::after, 
.blog-block::before, 
.blog-block::after{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #F8F8F8;;
}

.hero{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.2fr 1.2fr 1.5fr;
    grid-template-rows: 0.75fr 6fr 3fr 0.75fr;
}

.hero-foot{
    grid-area: 4 / 1 / 5 / 3;
    background-color: #565656;
}

.chevron-right{
    margin: 5px 0 0 5px;
}

.main-nav{
    grid-area: 1 / 3 / 2 / 4;
    background-color: #F8F8F8;
    color: #1A284A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 0 0;
    transition: all 0.25s ease-in-out;
}

.fake-nav{
    height: 62px;
}

.main-nav-scroll{
    color: #1A284A !important;
}

.nav-wrap{
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.5fr;
    grid-template-rows: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: all 0.25s ease-in-out;
}

.nav-wrap-scroll{
    background-color: #F8F8F8;
}

.twit-white, .insta-white{
    display: none;
    height: 16px;
}

.twit-navy, .insta-navy{
    height: 16px;
}

#nav-line-white{
    background-color: #1A284A;
}

nav > span{
    width: 35px;
    height: 2px;
    background-color: #1A284A;
}

.journey{
    justify-content: center;
    cursor: pointer;
}

.journey p{
    margin: 0;
}

/** About Section **/

#about{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.54fr 1.1fr 0.4fr 0.4fr 1.5fr;
    grid-template-rows: 1fr 1fr
}

.about-head{
    grid-area: 1 / 1 / 3 / 2;
    background-color:#A8A08A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}

.about-head h1{
    font-size: 3.75rem;
    width: 200px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    font-family: 'Antic Didone';
}

.about-head h1::before{
    content: url(../img/filigree_navy.png);
    position: absolute;
    left: -50px;
    top: -5px;
}

.about-photo{
    background-position: center;
    background-size: cover;
}

.about-photo-1{
    grid-area: 1 / 2 / 2 / 4;
    background-image: url(../img/ryan_focus.jpg);
}

.about-photo-2{
    grid-area: 1 / 4 / 2 / 6;
    background-image: url(../img/cocktail_2.jpg);
}

.about-photo-3{
    grid-area: 2 / 5 / 2 / 6;
    background-image: url(../img/cocktail_3.png);
}

.about-text{
    grid-area: 2 / 2 / 2 / 5;
    display: flex;
    align-items: center;
    background-color: #1A284A;
    color: #ffffff;
    font-weight: 100;
}

.about-text p{
    margin: 0;
    padding: 3rem;
}

/** Instagram Section **/

#instagram{
    overflow-x: hidden;
}

.insta-wrap{
    display: flex;
    white-space: nowrap;
}

.insta-container{
    display: flex;
}

#wrap-r{
    animation: ticker-r 20s infinite linear;
}

#wrap-l{
    animation: ticker-l 20s infinite linear;
   
}

.insta-wrap h1{
    display: inline;
    font-size: 4.58em;
    margin: 0 2rem;
    font-style: italic;
    font-weight: 700;
}

.feed-wrapper{

}

.feed-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1em
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    color: #fff;
    cursor: pointer;
    font-size: 0;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/** Modals **/

.insta-posts img{
    width: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 65px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    display: flex;
  }

  .caption-container{
    position: absolute;
    top: 20%;
    right: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    transform: translate(50%, -50%);
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .insta-posts{
    display: none;
    font-size: 0;
    width: 100%;
  }

  .insta-info{
      display: flex;
      align-items: center;
      margin: 0 0 1rem 0;
  }
  .insta-user{
      font-family: 'antic-didone';
      font-size: 1.2rem;
  }

  .insta-circle{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 0 0.75rem 0 0;
  }

  .insta-caption{
      margin: 2rem 0 ;
  }

  .insta-date{
      margin: 0;
      margin-left: auto;
      color: #565656;
  }

  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 95%;
  right: 10%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  color: #565656;
}
.next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }

.active, .demo:hover {
  opacity: 1;
}

/** Bio Section **/

#bio{
    margin: 10rem 0;
}

.bio-wrapper{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr;
}

.bio-text-wrap{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
}

.bio-text{
    padding: 0 4rem;
}

.bio-text h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Antic Didone';
    color: #1A284A;
}

.bio-text p{
    margin-bottom: 2rem;
    max-width: 400px;
    font-weight: 100;
}

.brown-btn{
    width: 200px;
    background-color: #A8A08A;
    margin: 2rem 0 0 0;
    padding: 1rem 2rem;
    color: #ffffff;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.brown-btn:hover{
    background-color: #979387;
    transition: all 0.2s ease-in-out;
}

.bio-img{
    grid-area: 1 / 2 / 2 / 3;
}

.bio-photo{
    width: 100%;
}

/** Footer **/

footer{
    width: 100%;
    height: 250px;
    background-color: #565656;
    color: #ffffff;
    font-weight: 100;
    font-family: 'Antic Didone';
}

.footer-wrap{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;
}

.footer-wrap h2{
    color: #f8f8f8;
    font-style: italic;
}

.footer-icon{
    width: 16px;
    height: 16px;
}

.footer-icon-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.footer-icon-wrap > span{
    display: block;
    width: 35px;
    height: 2px;
    background-color: #ffffff;
}

.copyright{
    text-align: center;
}


/******* COCKTAIL PAGE ********/

.cocktail-hero{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 6fr 3fr 0.75fr;
}

.cocktail-hero-text{
    height: 100vh;
}

.cocktail-hero-img{
    grid-area: 2 / 2 / 5 / 3;
    background-image: url(../img/cocktail-hero.jpg);
    background-position: center;
    background-size: cover;
}

.cocktail-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: #1A284A;
    text-decoration: none;
}

.cocktail-img-wrap{
    font-size: 0;
}

.cocktail-img-wrap-l{
    grid-area: 1 / 1 / 2 / 2;
}

.cocktail-img-wrap-r{
    grid-area: 1 / 2 / 2 / 3;
}

.cocktail-text-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cocktail-text-wrap-l{
    grid-area: 1 / 1 / 2 / 2;
}

.cocktail-text-wrap-r{
    grid-area: 1 / 2 / 2 / 3;
}

.cocktail-img-1{
    width: 100%;
}

.cocktail-text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #A8A08A solid;
    width: 80%;
    padding: 5rem 0;
}

.cocktail-head-wrap{
    text-align: center;
}

.cocktail-head-wrap h2{
    margin: 0 0 1rem 0;
}


/** COCKTAIL TEMPLATE **/

.cocktail-template-hero{
    display: grid;
    height: calc(100vh - 62px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 6fr 3fr 0.75fr;
}

.cocktail-template{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
    padding: 0;
    height: calc(100vh - 62px);
}

.cocktail-text{
    padding: 0 4rem;
    font-family: 'Antic Didone';
    color: #121641;
    overflow: auto;
    border: none;
}

.cocktail-text h1{
    font-size: 3em;
    margin-bottom: 0.5rem;
}

.cocktail-text h2{
    color: #646464;
    margin-bottom: 1.5rem;
}

.cocktail-text p{
    font-family: 'Merriweather';
    max-width: 500px;
    font-size: 1em;
    margin-bottom: 2rem;
}

.cocktail-template-img{
    grid-area: 1 / 2 / 5 / 3;
    background-image: url(/assets/img/cocktails/Home-Alone-Cocktail.jpg);
    background-size: cover;
    background-position: center;
}

.test-img{
    height: calc(100vh - 62px);
    overflow: hidden;
}

.cocktails-return{
    grid-area: 2 / 1 / 3 / 2;
    background-color: #1A284A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1.2em;
}
/**
.banks-hero-img{
    grid-area: 2 / 2 / 5 / 3;
    font-size: 0;
    background-image: url(../img/cocktails/banks-three.jpg);
    background-size: cover;
    background-position: left;
}

.cocktail-temp-subtitle{
    font-style: italic;
}

.cocktails-return{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A284A;
    height: 60px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.cocktails-return > p{
    margin: 18px auto;
}

.cocktail-temp-text{
    flex-direction: column;
    position: relative;
    grid-area: 2 / 1 / 5 / 2;
    align-items: flex-start;
}

.cocktail-temp-wrap{
    padding: 2rem 0 0 4rem;
} **/

	
/** BLOG PAGE **/

#blog-wrap{
    width: 80%;
    max-width: 900px;
    margin: 1rem auto;
}

.blog-posts{
    margin: 1rem 0;
}

.blog-posts li{
    margin: 3rem 0;
}

.blog-posts img{
    width: 225px;
}

.blog-info{
    padding: 0 7rem 0 0;
}

.blog-info > p{
    margin: 0 0 1rem 0;
    line-height: 1.8;
}

.blog-info > a{
    font-size: 2rem;
    text-decoration: none;
    color: #121641;
}

.blog-info > h1{
    font-size: 2rem;
    padding: 0 0 1rem 0;
    text-decoration: none;
    color: #121641;
}

.category-select{
    border: 2px solid #A8A08A;
    background: none;
    padding: 1rem 2rem;
    margin: 0 0 1rem 0;
    font-family: 'Merriweather';
    font-style: italic;
    color: #616161;
}

.category-select:hover{
    cursor: pointer;
    background-color: #E0D7BE;
    transition: all 0.2s ease-in-out;
}

.active{
    background-color: #A8A08A;
    color: #FFFFFF;
}

.category-tag{
    font-family: 'Antic Didone';
}

.category-type{
    font-family: 'Merriweather';
    font-style: italic;
    color: #CF980B;
}

.post-description{
    line-height: 2;
}

.blog-date{
    color: #9B9B9B;
    font-size: 0.7rem;
    font-style: italic;
}

.filter-item{
    display: none;
}

.show{
    display: flex;
}

/** Post Template **/

.post-content{
    font-size: 1rem;
    color: #171717;
    margin: 2rem 0;
}

.post-content > h1, h2, h3{
    color: #A8A08A;
    margin: 2rem 0;
    font-style: italic;
}

.post-content p > img{
    width: 100%;
}

.post-img-container{
    margin: 2rem 0;
}

.post-img{
    width: 100%;
}

/** TICKER ANIMATION **/

@keyframes ticker-r{
    100% { 
        transform: translateX(-100%);
    }
}

@keyframes ticker-l{
    100% { 
        transform: translateX(100%);
    }
}
  

@media screen and (max-width: 970px){

    .hero{
        height: 100vh;
        grid-template-columns: 1.2fr 1.2fr 2fr;
        grid-template-rows: 0.75fr 6fr 3fr 0.75fr;
    }

    .hero-text {
        grid-area: 2 / 1 / 3 / 3;
    }

    .hero-wrap {
        padding: 0 4rem;
    }

    .cocktails-block::before, 
    .cocktails-block::after, 
    .blog-block::before, 
    .blog-block::after{
    width: 30px;
    }

    .nav-wrap{
        grid-template-columns: 1.2fr 1.2fr 2fr;
    }

    .cocktail-hero-text{
        grid-area: 2 / 1 / 3 / 2;
    }

    /** About Section **/

    #about{
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1.1fr 0.4fr 0.4fr 1.5fr;
        grid-template-rows: 1fr 1fr
    }

    .about-head h1{
        font-size: 3rem;
        width: 200px;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 0.5rem;
        position: relative;
    }

    .about-head h1::before{
        content: none;
    }

    .about-photo-1{
        display: none;
    }

    .about-photo-2{
        grid-area: 1 / 2 / 2 / 6;
    }

    .cocktail-hero{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 870px){
    
    .about-photo-3{
        display: none;
    }

    .about-text{
        grid-area: 2 / 2 / 2 / 6;
    }

    .about-text p{
        padding: 2.5rem;
    }

    /** Bio Section **/

    #bio{
        margin: 5rem 0;
    }
    
    .bio-wrapper{
        display: block
    }
    
    .bio-text-wrap{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
    }
    
    .bio-text{
        padding: 0 2.5rem 5rem;
        text-align: center;
    }
    
    .bio-text h1{
        margin-bottom: 2rem;
        font-family: 'Antic Didone';
    }
    
    .bio-text p{
        margin-bottom: 2rem;
        max-width: 100%;
        font-weight: 100;
        color: #121641;
    }
    
    .bio-text button{
        width: 70%;
        background-color: #A8A08A;
        padding: 1rem;
        color: #ffffff;
        font-family: 'Merriweather';
    }
    
    .bio-img{
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .bio-photo{
        width: 100%;
    }

     /** Blog Section **/

     .blog-posts img{
        width: 260px;
    }
    
    .blog-info{
        padding: 0 3rem 0 0;
    }

    .cocktail-template-hero{
        display: block;
        height: auto;
    }

    .cocktail-template{
        height: auto;
        display: block;
    }

    .cocktail-text{
        overflow: visible;
    }
    
    .cocktail-text p{
        max-width: 100%;
    }

    .cocktails-return{
        height: 60px;
    }

    .test-img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 680px){

    .hero{
        display: block;
        height: 100vh;
        background-image: url(../img/hero-photo-dark.jpg);
        background-position: center;
        background-size: cover;
    }

    .hero-text{
        background: none;
        color: #FFFFFF;
        height: 100vh;
        padding: 3rem 0;
    }

    .hero-wrap{
        padding: 0 2.5rem;
    }

    .hero-wrap h1, h2, h3, p{
        margin-bottom: 0.5rem;
        color: #FFFFFF;
    }

    .subtitle{
        color: #CF980B !important;
    }

    .logo-white{
        display: block;
    }

    .insta-white, .twit-white{
        display: block;
    }

    .link{
        color: #f8f8f8;
    }

    .logo{
        padding: 1rem 2.5rem;
    }

    .logo-navy, .twit-navy, .insta-navy{
        display: none;
    }

    .main-nav{
        grid-area: 1 / 3 / 2 / 4;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.5rem 0 0;
        color: #FFFFFF;
    }

    nav > span{
        width: 15px;
        height: 2px;
        background-color: #ffffff;
    }

    .logo-box{
        background: none;
    }

    .block-link{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Antic Didone';
        font-size: 1.3rem;
        height: 16.7vh;
        display: none; /** Remove to show Blog & Cocktail blocks **/
    }

    .nav-wrap{
        grid-template-columns: 0.6fr 1.2fr 5fr;
    }

    /** About Section **/

    #about{
        height: auto;
        display: block;
    }

    .about-head{
        padding: 2rem;
    }

    .about-head h1{
        width: auto;
        font-size: 2rem;
        text-align: center;
    }

    .about-text{
        text-align: center;
    }

    .about-photo{
        display: block;
        height: 400px;
    }

    .feed-container{
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-gap: 0;
    }
    
    .gallery-item {
        margin: 0.25rem;
    }


    /***** COCKTAIL PAGE *****/

    .cocktail-hero{
        display: block;
        height: 100vh;
        background-image: url(../img/cocktail_hero_dark.jpg);
        background-position: center;
        background-size: cover;
    }

    .cocktail-wrap{
        display: block;
        background-position: center;
        background-size: cover;
    }

    .cocktail-wrap-1{
        background-image: url(../img/cocktails/banks-three-dark.jpg);
    }

    .cocktail-wrap-2{
        background-image: url(../img/cocktails/home-alone-dark.jpg);
    }

    .cocktail-wrap{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        color: #1A284A;
        text-decoration: none;
        height: 400px;
    }

    .cocktail-img-wrap{
        display: none;
    }

    .cocktail-text-wrap{
        grid-area: 1 / 1 / 2 / 3;
    }

    .cocktail-text{
        padding: 0 2.5rem;
    }

    .cocktail-text p{
        color: #1A284A; ;
    }

    .brown-btn{
        display: none;
    }

    /** Blog Section **/

    #blog-wrap{
        width: 90%;
    }

    .blog-posts img{
        display: none;
    }

    .blog-info{
        padding: 0;
    }

    .category-select{
        border: 2px solid #A8A08A;
        background: none;
        padding: 1rem 2rem;
        margin: 2% 2.1%;
        width: 45%;
    }
    
    .active{
        background-color: #A8A08A;
        color: #FFFFFF;
    }

}

