---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryedrinks</title>
    <link rel="stylesheet" href="assets/css/blog.css" | relative_url>
    <link href="https://fonts.googleapis.com/css?family=Antic+Didone|Merriweather:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="fake-nav"></div>
        {% include nav.html %}
    </header>

    <section id="blog-wrap">
        <div class="categories-wrap" id="categories-wrap">
            <button class="category-select active" onclick="filterSelection('all')">All</button>
            <button class="category-select" onclick="filterSelection('Inspiration')">Inspiration</button>
            <button class="category-select" onclick="filterSelection('Stories')">Stories</button>
            <button class="category-select" onclick="filterSelection('Recipes')">Recipes</button>
        </div>
        <div class="blog-container">
            <ul class="blog-posts">
            {% for post in site.posts %}
            <hr class="filter-item {{ post.catagory }} ">
                <li class="filter-item {{ post.catagory }} ">
                    <div class="blog-info">
                        <p class="category-tag">Category: <span class="category-type">{{ post.catagory }}</span></p>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <p>
                            {{ post.excerpt | truncate: 156 }}
                        </p>
                        <p class="blog-date">{{ post.date | date: " %B %-d %Y" }}</p>
                    </div>
                
                    <div class="blog-img">
                        <img src="{{ post.image }}">
                    </div>    
                </li>
                
            {% endfor %}
            </ul>
        </div>

    </section>

    {% include footer.html %}

    <script src="assets/js/filter.js"></script>

</body>
</html>

