<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryedrinks</title>
    <link rel="stylesheet" href="assets/css/main.css" | relative_url>
    <link href="https://fonts.googleapis.com/css?family=Antic+Didone|Merriweather:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cocktail-hero hero">
        
        {% include nav.html %}

        <main class="cocktail-hero-text hero-text"> 
            <div class="hero-wrap">
                <h1>Cocktails</h1>
                <h2 class="subtitle">Drinks Crafted With Care & Love </h2>
                <p>Cocktails are a chance for me to connect with an individual. Essentially putting a little bit of me in a glass to hopefully make someone's day a bit better. </p>
                <p>Below are some of my favourite creations. With flavours and recipes inspired by brands I've worked with and people i've met. With every one having a wee story behind it.</p>
                <button class="brown-btn" onclick="cocktailScroll()">See Cocktails</button>
            </div>
        </main>

        <div class="cocktail-hero-img">
           
        </div>

    </header>

    <section id="cocktails">
        <div class="cocktail-container">
            <a href="banks_three.html" class="cocktail-wrap cocktail-wrap-1">
                <div class="cocktail-img-wrap cocktail-img-wrap-l cocktail-img-wrap-1">
                    <img class="cocktail-img-1" src="/assets/img/cocktails/banks-three.jpg">
                </div>
                <div class="cocktail-text-wrap cocktail-text-wrap-r cocktail-text-wrap-1">
                    <div class="cocktail-text-box">
                        <div class="cocktail-head-wrap">
                            <h2>Banks Three</h2>
                            <h3>“Fruity, Fresh & Flexible”</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="home_alone.html" class="cocktail-wrap cocktail-wrap-2">
                <div class="cocktail-img-wrap cocktail-img-wrap-r cocktail-img-wrap-2">
                    <img class="cocktail-img-1" src="/assets/img/cocktails/home-alone.jpg">
                </div>
                <div class="cocktail-text-wrap cocktail-text-wrap-l cocktail-text-wrap-2">
                    <div class="cocktail-text-box">
                        <div class="cocktail-head-wrap">
                            <h2>Home Alone 2</h2>
                            <h3>“A Warm Christmas Tipple”</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    {% include footer.html %}
    
    <script src="assets/js/script.js"></script>
    
</body>
</html>