<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryedrinks - {{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/main.css" | relative_url>
    <link href="https://fonts.googleapis.com/css?family=Antic+Didone|Merriweather:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fake-nav"></div>
    <header class="cocktail-template-hero">
        
        {% include nav-white.html %}

        <main class="cocktail-template"> 
            <div class="cocktail-text">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.tagline }}</h2>
                    {{ content }}
            </div>

            <a class="cocktails-return" href="cocktails.html" >More Cocktails</a>
            
        </main>

        <img class="test-img" src="{{ page.imagePost }}">
    
    </header>
    
    <script src="https://kit.fontawesome.com/f359594d0c.js" crossorigin="anonymous"></script>
</body>
</html>