---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryedrinks</title>
    <link rel="stylesheet" href="assets/css/blog.css" | relative_url>
    <link href="https://fonts.googleapis.com/css?family=Antic+Didone|Merriweather:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="fake-nav"></div>
        <div id="navbar" class="nav-wrap">
            <div class="logo-box">
                <a href="index.html"><img src="assets/img/R.png" alt="Ryedrinks Logo" class="logo logo-navy"><img src="assets/img/R-white.png" alt="Ryedrinks Logo" class="logo logo-white"></a>
            </div>

            <nav id="main-nav" class="main-nav">
                <a class="link" href="cocktails.html">Cocktails</a>
                <a class="link" href="blog.html">Blog</a>
                <span id="nav-line"></span>
                <a class="insta-navy"><img src="assets/img/instagram.png"></a>
                <a class="insta-white"><img src="assets/img/instagram-white.png"></a>
                <a class="twit-navy"><img src="assets/img/twitter.png"></a>
                <a class="twit-white"><img src="assets/img/twitter-white.png"></a>
            </nav>
        </div>
    </header>

    <section id="blog-wrap">
        <div class="blog-container">
            <div class="blog-info">
                <p class="category-tag">Category: <span class="category-type">{{ page.catagory }}</span></p>
                <h1 class="">{{ page.title }}</h1>
                <p class="blog-date">{{ page.date | date: " %B %-d %Y" }}</p>
            </div>
        
            <div class="post-img-container">
                <img class="post-img" src="{{ page.imagePost }}">
            </div> 

            <hr class="post-line">

            <h2>"{{ page.tagline }}"</h2>

            <div class="post-content">
                {{ content }}
            </div>
        
        </div>
    </section>

    <footer>
        <div class="footer-wrap">
            <h2>RYEDRINKS</h2>
            <div class="footer-icon-wrap">   
                <a class="insta-footer footer-icon"><img src="assets/img/instagram-white.png"></a>
                <span class="footer-line"></span>
                <a class="twit-footer"><img src="assets/img/twitter-white.png"></a>
            </div>
        </div>
        <div class="copyright">
            <p>&copy;Copyright Aidan Ross 2020</p>
        </div>
    </footer>
    
    <script src="assets/js/script.js"></script>
    
</body>
</html>