---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryedrinks</title>
    <link rel="stylesheet" href="assets/css/blog.css" | relative_url>
    <link href="https://fonts.googleapis.com/css?family=Antic+Didone|Merriweather:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="fake-nav"></div>
        {% include nav.html %}
    </header>

    <section id="blog-wrap">
        <div class="blog-container">
            <div class="blog-info">
                <p class="category-tag">Category: <span class="category-type">{{ page.catagory }}</span></p>
                <h1 class="">{{ page.title }}</h1>
                <p class="blog-date">{{ page.date | date: " %B %-d %Y" }}</p>
            </div>
        
            <div class="post-img-container">
                <img class="post-img" src="{{ page.imagePost }}">
            </div> 

            <hr class="post-line">

            <h2>"{{ page.tagline }}"</h2>

            <div class="post-content">
                {{ content }}
            </div>
        
        </div>
    </section>

    {% include footer.html %}
    
    
</body>
</html>